version: '3.8'

services:
  app:
    container_name: cantinho_backend
    image: cantinho_backend:latest
    build: .
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/cantinho_db
      - SPRING_DATASOURCE_USERNAME=postgres
      # This password must match the one in the db service below
      - SPRING_DATASOURCE_PASSWORD=minhasenha123 
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
    depends_on:
      - db
    networks:
      - cantinho-network

  db:
    container_name: cantinho_db
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_DB=cantinho_db
      - POSTGRES_USER=postgres
      # This password must match the one in the app service above
      - POSTGRES_PASSWORD=minhasenha123 
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - cantinho-network

networks:
  cantinho-network:
    driver: bridge

volumes:
  postgres_data: